.dart_tool/
.idea/
android/app/src/debug/
android/app/src/main/java/
android/app/src/
android/app/src/res/
android/app/src/profile/
android/gradle
android/.gitignore
android/build.gradle.kts
android/gradle.properties
android/gradlew
android/gradlew.bat
android/local.properties
android/noteblock_android.iml
android/settings.gradle.kts
build/
ios/flutter/
ios/Runner/Assets.xcassets/
ios/Runner/Base.lproj/
ios/Runner/AppDelegate.swift
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Runner/Runner-Bridging-Header.h
ios/Runner.xcodeproj/
ios/Runner.xcworkspace/
ios/RunnerTests/
ios/.gitignore
linux/
macos/
test/
web/
windows/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
analysis_options.yaml
noteblock.iml
pubspeck.lock